body {
  background:url(./img/tweed.png);
  font-family:Montserrat,sans-serif;
  font-size:100%;
  font-weight:400;
  color:#FFF;
  margin:0;
}

a:link,a:visited {
  color:#ddd;
  text-decoration:none;
  border-bottom:1px dotted #ddd;
}

.main {
  max-width:960px;
  padding-bottom:40px;
  margin:0 auto;
}

/* Adds top padding so that anchors navigate correctly */
.navigable {
  padding-top:60px;
}

footer {
  padding:100px 0;
}

a.img-link img:hover {
  opacity:0.8;
}

.logo {
  max-width:744px!important;
}

.splash {
  background:url(./img/school_alt.jpg) no-repeat center top fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  text-align:center;
  padding:40px;
}

h1 {
  text-align:center;
  font-size:2.5em;
  color:#FFF;
  background:url(./img/sym_white.png) no-repeat center center;
  padding:70px 0;
}

.image-back-1 {
  background:url(./img/school.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  text-align:center;
  -moz-box-shadow:inset 0 0 20px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow:inset 0 0 20px 10px rgba(0,0,0,0.3);
  box-shadow:inset 0 0 20px 10px rgba(0,0,0,0.3);
  padding:40px 0;
}

.image-back-1 h2 {
  color:#FFF;
}

.white-back {
  background:url(./img/debut_light.png);
  color:#333;
}

.white-back a:link,.white-back a:visited {
  color:#999;
}

.divider {
  border-bottom:1px solid #999;
  margin:20px 0;
}

#about p {
  font-size: 1.5em;
  color: #ddd;
  padding: 0 20px;
}

#events .event-block {
  text-align: center;
  vertical-align: middle;
}

#events a.img-link {
  margin: 0 auto;
}

#events .spotlight-logo {
  position: relative;
  top: 33px;
}

h2 {
  text-align:center;
  color:#999;
  font-size:2.5em;
  margin:0 0 20px;
}

.navbar {
  position: fixed;
  width:100%;
  top: 0;
  z-index: 99999;
}

.nav {
  background:#ff8000;
  text-align:center;
  -moz-box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
  -webkit-box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
  box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
  margin:0;
  padding:0;
}

.nav li {
  display:inline-block;
}

.nav li a {
  display:block;
  color:#FFF;
  text-decoration:none;
  border:none;
  padding:10px;
}

.fixed {
  position:fixed;
  top:0;
  left:0;
  z-index:9999;
}

.center {
  text-align:center;
}

.flex-img {
  width:100%;
  max-width:421px;
}

input {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  max-width:600px;
  width:100%;
}

input[type=text],input[type=email] {
  font-size:1.5em;
  border:none;
  background:#333;
  display:block;
  color:#FFF;
  text-align:center;
  margin:0 auto 10px;
  padding:10px;
}

input[type=submit] {
  background-color:#ff8000;
  border:none;
  color:#FFF;
  font-size:1.5em;
  padding:10px;
}

label {
  display:block;
}

.circle {
  display:block;
  width:150px;
  height:150px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  -webkit-border-radius:99em;
  -moz-border-radius:99em;
  border-radius:99em;
  border:5px solid #eee;
  box-shadow:0 3px 2px rgba(0,0,0,0.3);
  -webkit-filter:grayscale(100%);
  -moz-filter:grayscale(100%);
  filter:grayscale(100%);
  margin:1em auto;
}

.circle:hover {
  -webkit-filter:grayscale(0);
  -moz-filter:grayscale(0);
  filter:grayscale(0);
}

a:hover,a:active,.white-back a:hover,.white-back a:active {
  color:#ff8000;
  border-bottom:1px solid #ff8000;
}

img,.img-link {
  border:0!important;
}

.nav li a:hover,input[type=submit]:hover {
  background-color:#c86c0c;
  -moz-box-shadow:inset 0 0 5px 2px #b65c09;
  -webkit-box-shadow:inset 0 0 5px 2px #b65c09;
  box-shadow:inset 0 0 5px 2px #b65c09;
}

@media (max-width:480px) {
  h1 {
    font-size:1.5em;
    padding:30px 0;
  }

  #about p {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  #events .spotlight-logo {
    top:0;
  }
  #events .event-block {
    padding: 20px 0;
  }
}
